node_modules/
.env
dist/
build/
.DS_Store
*.log
logs/
backend/uploads/projects/*
backend/uploads/resumes/*
backend/uploads/profile/*
backend/uploads/blogs/*
!backend/uploads/projects/.gitkeep
!backend/uploads/resumes/.gitkeep
!backend/uploads/profile/.gitkeep
!backend/uploads/blogs/.gitkeep
